<html>
<head>
<title>HIGH RISK </title>
</head>
<body>
<h1><center> HIGH HEART RISK </center></h1>
<center><img src="/static/unhealthyheart.jpg" alt="heart" width="500" height="300" bgcolor="mistyrose">
</center><br>
<br>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<td colspan="10">
<center><h3style="background-color:blue"><font size="5"><b> CARDIAC SPECIALITS IN CHENNAI</b></font></h3style="background-color:blue"></center>
</td>
</tr><br>
<center><p><a href="https://www.practo.com/">TO BOOK APPOINTMENTS</a></p></center>
<br>
<table bgcolor="mistyrose" align="center" border=0 cellpadding=0 cellspacing=0 width=1419 style='border-collapse:
 collapse;table-layout:fixed;width:1064pt'>
 <tr>
    <th>NAME</th>
    <th>QUALIFICATION</th>
    <th>EXPERIENCE</th> 
    <th>HOSPITAL</th>
    <th>LOCATION</th>
    <th>FEES</th>
  </tr>

  <tr>
    <td>Dr. B. Madan Mohan</td>
    <td>MBBS, MD - General Medicine, DM - Cardiology</td>
    <td>28</td>
    <td>Fortis Malar Hospital</td>
    <td>Adyar</td>
    <td>500</td>
  </tr>

  <tr>
    <td>Dr. Pradeep G Nayar</td>
    <td>MBBS, MD - General Medicine, DNB - Cardiology</td>
    <td>36</td>
    <td>MIOT International Hospital</td>
    <td>Manapakkam</td>
    <td>600</td>
  </tr>
<tr>
  <td >Dr. G. Manohar</td>
  <td>MBBS, DM - Cardiology, Diploma in Child Health (DCH) Fellow of Royal College of Pediatrics and Child Health (FRCPCH)</td>
  <td >26</td>
  <td >Fortis Malar Hospital</td>
  <td >Adyar</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Karthikeyan K</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >10</td>
  <td >Dr. Kamakshi Memorial Hospital</td>
  <td >Pallikaranai</td>
  <td>600</td>
 </tr>
 <tr >
  <td >Dr. Prasad G N</td>
  <td>MBBS, DNB - Cardiology</td>
  <td >29</td>
  <td >SIMS Hospital - Institute Of Cardiac Sciences</td>
  <td >Vadapalani</td>
  <td >800</td>
 </tr>
 <tr>
  <td >Dr. Pramod Kumar Jaiswal</td>
  <td >MBBS, DM - Cardiology</td>
  <td>32</td>
  <td >SIMS Hospital - Institute Of Cardiac Sciences</td>
  <td >Vadapalani</td>
  <td >800</td>
 </tr>
 <tr >
  <td>Dr. Nagendra Boopathy</td>
  <td >MBBS, MD - Internal Medicine, DM - Cardiology, Fellowship In Interventional Cardiol</td>
  <td >9</td>
  <td >Jayam Hospital &amp; GFC Fertility</td>
  <td >Kodambakkam</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. Sanjiv Agrawal</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology, Fellowship In Interventional Cardiol</td>
  <td >29</td>
  <td >Fortis Malar Hospital</td>
  <td>Adyar</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. Ashok Kumar T</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >14</td>
  <td >Dr. Kamakshi Memorial Hospital</td>
  <td >Pallikaranai</td>
  <td >600</td>
 </tr>
 <tr>
  <td >Dr. Jyotirmaya Dash</td>
  <td>MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >21</td>
  <td >SIMS Hospital - Institute Of Cardiac Sciences</td>
  <td >Vadapalani</td>
  <td>800</td>
 </tr>
 <tr >
  <td >Dr. Rangasamy Muthusamy</td>
  <td >MBBS, FRCP, FRCP, FACC,MRCP(UK),MRCP-General medicine, MRCP(UK)</td>
  <td >38</td>
  <td >Westminister Heathcare</td>
  <td >Nungambakkam</td>
  <td >1200</td>
 </tr>
 <tr >
  <td>Dr. K Jayanthi</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >33</td>
  <td >SIMS Hospital - Institute Of Cardiac Sciences</td>
  <td >Vadapalani</td>
  <td >800</td>
 </tr>
 <tr >
  <td>Dr. P. Manoka</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >12</td>
  <td >The Capstone Clinic</td>
  <td >Nungambakkam</td>
  <td>750</td>
 </tr>
 <tr>
  <td >Dr. Siva Muthukumar</td>
  <td>MBBS, M.Ch, DNB_Cardialogy, MRCS(UK), MS</td>
  <td >21</td>
  <td>SIMS Hospital</td>
  <td >Nungambakkam</td>
  <td>800</td>
 </tr>
 <tr >
  <td >Dr. Rangasamy Muthusamy</td>
  <td>MBBS, MRCP(UK), MRCP(Ireland), FRCP(Edinburgh), FRCP (London), FACC</td>
  <td>37</td>
  <td>SIMS Hospital</td>
  <td>Nungambakkam</td>
  <td >800</td>
 </tr>
 <tr >
  <td >Dr. Kanthallu Srinivasan</td>
  <td>MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td>20</td>
  <td>The Capstone Clinic</td>
  <td>Nungambakkam</td>
  <td >750</td>
 </tr>
 <tr>
  <td >Dr. Epari Satish Kumar</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >24</td>
  <td >MIOT International hospital</td>
  <td >Manapakkam</td>
  <td>600</td>
 </tr>
 <tr >
  <td>Dr. T S Srinath</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >23</td>
  <td>SIMS Hospital - Institute Of Cardiac Sciences</td>
  <td>Vadapalani</td>
  <td >800</td>
 </tr>
 <tr>
  <td >Dr. S Saravana Babu</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >23</td>
  <td >GKM Hospital PVT LTD</td>
  <td >Purasawakkam</td>
  <td >600</td>
 </tr>
 <tr>
  <td >Dr. Rudrappa</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td>21</td>
  <td >Fortis Malar Hospital</td>
  <td >Adyar</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Babu Ezhumalai</td>
  <td >MBBS, MD - General Medicine, MD - Cardiology, FNB Interventional Cardiology</td>
  <td >12</td>
  <td >Fortis Malar Hospital</td>
  <td>Adyar</td>
  <td >500</td>
 </tr>
 <tr>
  <td>Dr. Sundar C</td>
  <td >MBBS, MD - General Medicine, DNB - General Medicine, DM -Cardiology</td>
  <td >19</td>
  <td>Apex Medical Centre</td>
  <td >West Mambalam</td>
  <td >500</td>
 </tr>
 <tr>
  <td>Dr. Pramod Kumar K P</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >32</td>
  <td >The Capstone Clinic</td>
  <td >Nungambakkam</td>
  <td >1000</td>
 </tr>
 <tr>
  <td >Dr. M.Kathiresan</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology, FNB -Interventional Cardiology</td>
  <td>21</td>
  <td >MK Heart Clinic</td>
  <td >Velachery</td>
  <td >500</td>
 </tr>
 <tr >
  <td>Dr. Refai Showkathali</td>
  <td >MBBS, MRCP (UK), FACC, FESC</td>
  <td >19</td>
  <td >Chennai Cardiac Centre</td>
  <td >Adyar</td>
  <td >600</td>
 </tr>
 <tr >
  <td >Dr. M Seetha</td>
  <td>MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >13</td>
  <td >Bharathirajaa Hospital</td>
  <td >T Nagar</td>
  <td >750</td>
 </tr>
 <tr>
  <td >Dr. Viginesh Thanikgaivasan</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology, AFAPSIC, AFAPSIC, FIMSA</td>
  <td >6</td>
  <td >MIOT International Hospital</td>
  <td >Manapakkam</td>
  <td >600</td>
 </tr>
 <tr >
  <td >Dr. Murthy J S N</td>
  <td >MBBS, MD - Medicine, DNB - Cardiology, FRCP</td>
  <td >36</td>
  <td >Mina Heart Care</td>
  <td >Guindy</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Harikrishnan Parthasarathy</td>
  <td >MBBS, MD - General Medicine, MRCPCH (UK), CCT -Cardiology, Fellowship In Interventional Cardiology, Fellow of Society for Coronary Angiography and Interventions (USA)</td>
  <td >23</td>
  <td >Apollo Speciality Hospital</td>
  <td >Vanagaram</td>
  <td >700</td>
 </tr>
 <tr >
  <td>Dr. I Sathyamurthy</td>
  <td >MBBS, FACC, FCCP - Pulmonary Medicine</td>
  <td >48</td>
  <td >Apollo Spectra Hospital</td>
  <td >Alwarpet</td>
  <td >600</td>
 </tr>
 <tr >
  <td>Dr. Ajeet Arulkumar</td>
  <td >MBBS, MD - General Medicine, DNB - General Medicine, DM -Cardiology, Fellowship In InterventionalCardiology, (MRCP UK)</td>
  <td >16</td>
  <td >Cardiac Clinic</td>
  <td >Mogappair West</td>
  <td >400</td>
 </tr>
 <tr >
  <td >Dr. Prof Guru Prasad Sogunuru</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology, FIAMS</td>
  <td >23</td>
  <td >Sree Guru Heart Clinic</td>
  <td >Pallikaranai</td>
  <td >400</td>
 </tr>
 <tr >
  <td >Dr. Narashima Reddy K</td>
  <td >MBBS, MD - Cardiology, DM - Cardiology</td>
  <td >48</td>
  <td >Apollo Speciality Hospital</td>
  <td>Vanagaram</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. M.Nandakumaran</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >26</td>
  <td >Heart Care Clinic</td>
  <td >Tambaram</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Vinodh Kumar P</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >14</td>
  <td >Venus Cardiac Care</td>
  <td >Porur</td>
  <td >200</td>
 </tr>
 <tr >
  <td >Dr. V.Ganesh</td>
  <td>MBBS, MD - Cardiology, DM - Cardiology</td>
  <td >21</td>
  <td >Vignesh Heart and Diabetes Centre</td>
  <td >Tambaram West</td>
  <td >400</td>
 </tr>
 <tr >
  <td >Dr. Latchumanadhas K</td>
  <td >MBBS, Doctor of Medicine, DM - Cardiology</td>
  <td >30</td>
  <td >Madras Medical Mission Hospital</td>
  <td >Mogappair</td>
  <td >450</td>
 </tr>
 <tr >
  <td >Dr. K Narasimha Reddy</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >34</td>
  <td >Apollo Speciality Hospital</td>
  <td >Vanagaram</td>
  <td >600</td>
 </tr>
 <tr >
  <td >Dr. Joy M. Thomas</td>
  <td >MBBS, MD - Medicine, DM - Cardiology</td>
  <td >40</td>
  <td >Frontier Lifeline Hospital</td>
  <td >Mogappair</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. D Prabhakar</td>
  <td >MBBS, DM - Cardiology</td>
  <td >22</td>
  <td >Ashwin Clinic</td>
  <td>Anna Nagar</td>
  <td >400</td>
 </tr>
 <tr>
  <td >Dr. Anand Gnanaraj</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology, Fellowship In Interventional Cardiol</td>
  <td>11</td>
  <td >Apollo Speciality Hospital</td>
  <td >Vanagaram</td>
  <td >600</td>
 </tr>
 <tr >
  <td>Dr. Moorthy</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >30</td>
  <td >N.N. Hospital</td>
  <td >Tambaram West</td>
  <td>500</td>
 </tr>
 <tr >
  <td>Dr. Ulhas M.Pandurangi</td>
  <td >MD - General Medicine, DM - Cardiology, MBBS</td>
  <td >25</td>
  <td>Madras Medical Mission Hospital</td>
  <td >Mogappair</td>
  <td >550</td>
 </tr>
 <tr >
  <td >Dr. Y Vijayachandra Reddy</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >25</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td>1000</td>
 </tr>
 <tr>
  <td >Dr. Premkumar K J</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td>8</td>
  <td >Apollo Speciality Hospital</td>
  <td >Vanagaram</td>
  <td >600</td>
 </tr>
 <tr >
  <td >Dr. Girish N Rao</td>
  <td >MBBS, MS - General Surgery, MCh - Cardio Thoracic Surgery</td>
  <td >21</td>
  <td >Apollo Speciality Hospital</td>
  <td >Vanagaram</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. Raghavan Subramanyan</td>
  <td >MBBS, MD - Cardiology, DM - Cardiology, FSCAI, FCSI</td>
  <td >44</td>
  <td >Frontier Lifeline Hospital</td>
  <td >Mogappair</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Justin Paul</td>
  <td >MBBS, MD - General Medicine, DNB - General Medicine, DM -Cardiology, DNB - Cardiology</td>
  <td >28</td>
  <td >Sri Balaji Hospital</td>
  <td>Guindy</td>
  <td >600</td>
 </tr>
 <tr >
  <td >Dr. Robert Mao</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >37</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. R.Sundar</td>
  <td >MBBS, DM - Cardiology</td>
  <td>41</td>
  <td >Dr Sundar Clinic</td>
  <td>Anna Nagar East</td>
  <td >200</td>
 </tr>
 <tr >
  <td >Dr. B. Ramamurthy</td>
  <td >MBBS, DM - Cardiology</td>
  <td >44</td>
  <td>Heart Care Clinic</td>
  <td >Anna Nagar</td>
  <td >250</td>
 </tr>
 <tr >
  <td >Dr. Amal Louis</td>
  <td >MBBS, FRCP, CCT (UK), Fellowship In Interventional Cardiology</td>
  <td >21</td>
  <td>Chennai Heart Clinic</td>
  <td>Anna Nagar</td>
  <td >500</td>
 </tr>
 <tr >
  <td>Dr. Gnanavelu.G</td>
  <td >MBBS, MD - Cardiology, DM - Cardiology</td>
  <td >23</td>
  <td >Ganesh Heart Care</td>
  <td >Tondiarpet</td>
  <td >300</td>
 </tr>
 <tr >
  <td>Dr. R. Hariharakrishnan</td>
  <td >MBBS, MD - Internal Medicine, DM - Cardiology</td>
  <td >15</td>
  <td >The Chennai Speciality Klini</td>
  <td >Besant Nagar</td>
  <td 0</td>
 </tr>
 <tr>
  <td >Dr. M.Chokkalingam</td>
  <td >MD - General Medicine, DNB - Cardiology, MBBS</td>
  <td >11</td>
  <td >V M Heart Care Clinic</td>
  <td >Navalur</td>
  <td >300</td>
 </tr>
 <tr >
  <td>Dr. Sidharthan K</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >20</td>
  <td >Sri Sudharsanam Hospital</td>
  <td >Avadi</td>
  <td >500</td>
 </tr>
 <tr>
  <td>Dr. E. Chandrasekhar</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >8</td>
  <td>PCH Clinic</td>
  <td >Aminjikarai</td>
  <td>300</td>
 </tr>
 <tr>
  <td >Dr. S.Nagarajan</td>
  <td >MBBS, MS - General Surgery, MCh - Cardio Thoracic Surgery</td>
  <td>43</td>
  <td >Dr.Nagarajan Clinic</td>
  <td >Madipakkam</td>
  <td>500</td>
 </tr>
 <tr >
  <td >Dr. R. N. Annamalai</td>
  <td >MBBS, DM - Cardiology</td>
  <td >19</td>
  <td>Dr. Mehta's Hospitals</td>
  <td >Chetpet</td>
  <td >400</td>
 </tr>
 <tr>
  <td>Dr. Sathyamurthy I</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >38</td>
  <td>Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr>
  <td >Dr. S. Ramesh</td>
  <td >DM - Cardiology, MD - General Medicine</td>
  <td >17</td>
  <td >SS Heart Cente</td>
  <td >Selaiyur</td>
  <td >200</td>
 </tr>
 <tr >
  <td >Dr. J V Balasubramaniyan</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology, FNB -Interventional Cardiology</td>
  <td>10</td>
  <td >Mina Heart Care</td>
  <td >Guindy</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. Thillai Vallal.Su</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >29</td>
  <td >Venkataeswara Hospitals</td>
  <td >Nandanam</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. A.M.Bharath Reddy</td>
  <td>MD - Physician, Diploma in Cardiology</td>
  <td >14</td>
  <td >Apollo Spectra Hospital</td>
  <td >Alwarpet</td>
  <td >700</td>
 </tr>
 <tr>
  <td >Dr. R.Ramesh</td>
  <td >MD - General Medicine, DNB, DNB - Cardiology, MBBS</td>
  <td >35</td>
  <td >Raju Hospital</td>
  <td >T Nagar</td>
  <td >250</td>
 </tr>
 <tr>
  <td >Dr. P. Thirumalai</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >37</td>
  <td >Dr. Hariharan Diabetes &amp; Heart Care Hospital</td>
  <td>Nanganallur</td>
  <td >300</td>
 </tr>
 <tr>
  <td>Dr. Sanjay Cherian</td>
  <td >MBBS, MBA, FRCS - General Surgery, DM - Cardiology</td>
  <td >7</td>
  <td >Frontier Lifeline Hospital</td>
  <td >Mogappair</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Nageswaran P M</td>
  <td >DM - Cardiology, MD - General Medicine, MBBS</td>
  <td >13</td>
  <td >Hindu Mission Health Services</td>
  <td >Nanganallur</td>
  <td >150</td>
 </tr>
 <tr >
  <td>Dr. N.Senguttuvan</td>
  <td >Diploma in Cardiology</td>
  <td >34</td>
  <td >N.Senguttuvan Clinic</td>
  <td>Anna Nagar West</td>
  <td>300</td>
 </tr>
 <tr >
  <td >Dr. P.S. Mohanamurugan</td>
  <td >MBBS, MD - Cardiology, Diplomate in Interventional Cardiology</td>
  <td >29</td>
  <td>K.M.Hospitals</td>
  <td >Kilpauk</td>
  <td >400</td>
 </tr>
 <tr >
  <td >Dr. Nagarajan Solai</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >19</td>
  <td >RNR Cardiac Clinic</td>
  <td >Purasawakkam</td>
  <td>300</td>
 </tr>
 <tr>
  <td >Dr. Saravanan</td>
  <td >DM - Cardiology, MD - General Medicine</td>
  <td >9</td>
  <td >Sivanthi Heart and Diabetes centre</td>
  <td >Virugambakkam</td>
  <td >200</td>
 </tr>
 <tr >
  <td >Dr. Swaminathan</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >21</td>
  <td >Swaminathan Clinic</td>
  <td>Velachery</td>
  <td>500</td>
 </tr>
 <tr>
  <td >Dr. K Dhamodaran</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >24</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr>
  <td >Dr. K. Anand</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >20</td>
  <td >Frontier Lifeline Hospital</td>
  <td >Mogappair</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. Abraham Oomman</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology, DNB - Cardiology</td>
  <td >21</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td>Dr. Asha Mahilmaran</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology, DNB - General Medicine</td>
  <td >25</td>
  <td>Nagamani Hospital</td>
  <td >Washermenpet</td>
  <td >200</td>
 </tr>
 <tr>
  <td >Dr. Bharath Kumar. G</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >9</td>
  <td>Deepam Hospitals</td>
  <td >Tambaram West</td>
  <td >400</td>
 </tr>
 <tr>
  <td>Dr. M.Dinakaran</td>
  <td >MBBS, DM - Cardiology, FNB</td>
  <td >15</td>
  <td>Ayush Hospital</td>
  <td >Thiruvottiyur</td>
  <td >250</td>
 </tr>
 <tr>
  <td>Dr. Ravi M S</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >29</td>
  <td >Apollo Hospital</td>
  <td >Tondiarpet</td>
  <td >1000</td>
 </tr>
 <tr >
  <td>Dr. Sai Satish</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >22</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr>
  <td >Dr. Karthikeyan B</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >17</td>
  <td >Promed Multi Speciality &Diagnostic Centre</td>
  <td >Kottivakkam</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Jagan Gajarajan</td>
  <td>DM - Cardiology, MD - General Medicine, MBBS</td>
  <td >15</td>
  <td >G. V. Cardiac and Diabetic Center</td>
  <td>Chromepet</td>
  <td >300</td>
 </tr>
 <tr >
  <td >Dr. Sujit Kumar Sahu</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td>11</td>
  <td >Apollo Speciality Hospital</td>
  <td >Vanagaram</td>
  <td >600</td>
 </tr>
 <tr >
  <td >Dr. B Ramamurthy</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >33</td>
  <td >Billroth Hospitals</td>
  <td >Shenoy Nagar</td>
  <td >100</td>
 </tr>
 <tr>
  <td >Dr. G.Venkatesh</td>
  <td >MBBS, MD - Cardiology, DNB - Cardiology</td>
  <td >24</td>
  <td >ANN Hospital</td>
  <td >Valasaravakkam</td>
  <td >350</td>
 </tr>
 <tr >
  <td >Dr. C. Arumugam</td>
  <td>DM - Cardiology, MD - General Medicine, MBBS</td>
  <td >12</td>
  <td >Nethra Heart Center</td>
  <td >Perungudi</td>
  <td >400</td>
 </tr>
 <tr >
  <td >Dr. Prakash Chand Jain</td>
  <td >MBBS, MD - General Medicine, Diploma in Cardiology</td>
  <td >23</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td>Dr. Cecily Mary Majella</td>
  <td >MBBS, MD - Cardiology, DM - Cardiology</td>
  <td >21</td>
  <td >Apollo Spectra Hospitals</td>
  <td>MRC Nagar</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. R Jayachandran</td>
  <td >MBBS, DNB - Cardiology</td>
  <td>38</td>
  <td >RSR'S Trinity Acute Care Hospital</td>
  <td>Mylapore</td>
  <td >500</td>
 </tr>
 <tr>
  <td>Dr. G Venkatesh</td>
  <td >MBBS, Diploma in Child Health (DCH), MD - Pediatrics, DNB- Cardiology</td>
  <td>17</td>
  <td>A4 Hospital</td>
  <td>Valasaravakkam</td>
  <td>800</td>
 </tr>
 <tr>
  <td>Dr. S.Arthanari</td>
  <td >MBBS, MD - Cardiology, DM - Cardiology</td>
  <td >44</td>
  <td>Dr. S.A. Heart Clinic</td>
  <td >Royapettah</td>
  <td >350</td>
 </tr>
 <tr >
  <td >Dr. R Sivakumar</td>
  <td>MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td>8</td>
  <td >Om Family Clinic</td>
  <td >Mandaveli</td>
  <td >300</td>
 </tr>
 <tr>
  <td>Dr. S. Srikumar</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td>17</td>
  <td >Frontier Lifeline Hospital</td>
  <td >Mogappair</td>
  <td >500</td>
 </tr>
 <tr>
  <td>Dr. Rajeshwari Nayak</td>
  <td >MBBS, DNB - Cardiology</td>
  <td >22</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. K Kannan</td>
  <td >MBBS, DM - Cardiology</td>
  <td >19</td>
  <td >Be Well Hospital</td>
  <td >T Nagar</td>
  <td>100</td>
 </tr>
 <tr >
  <td >Dr. Shanmugasundaram K</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >18</td>
  <td>Ramachandran's Diabetes Hospitals - Guindy</td>
  <td >Guindy</td>
  <td>600</td>
 </tr>
 <tr >
  <td >Dr. Rajasekar Ramesh</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >23</td>
  <td >Dr. A.C Aruldas Hospita</td>
  <td >Perambur</td>
  <td>400</td>
 </tr>
 <tr>
  <td >Dr. Srikanth Thunga</td>
  <td >Diploma in Cardiology</td>
  <td >29</td>
  <td >New Hope Medical Centre</td>
  <td>Kilpauk</td>
  <td >500</td>
 </tr>
 <tr >
  <td>Dr. Chandrasekaran</td>
  <td >MBBS, DNB - Cardiology</td>
  <td >15</td>
  <td >Rakshith Hospital</td>
  <td>Valasaravakkam</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Narendra Kumar V</td>
  <td >MBBS, DM - Cardiology, MD - Pediatrics</td>
  <td >18</td>
  <td >Naren's Child Clinic</td>
  <td >Tambaram East</td>
  <td >300</td>
 </tr>
 <tr>
  <td >Dr. Ayappan B S</td>
  <td >MBBS, DM - Cardiology</td>
  <td >41</td>
  <td >BSS Hospital</td>
  <td >Mandaveli</td>
  <td>200</td>
 </tr>
 <tr>
  <td >Dr. Susheel Reddy</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >12</td>
  <td >Appasamy Hospital</td>
  <td >Arumbakkam</td>
  <td>200</td>
 </tr>
 <tr>
  <td>Dr. Deep Chandh Raja</td>
  <td >DM - Cardiology, MD - General Medicine, MBBS, DNB - Cardiology</td>
  <td >7</td>
  <td>The Madras Medical Mission</td>
  <td >Mogappair East</td>
  <td>0</td>
 </tr>
 <tr >
  <td >Dr. Arun Kalyanasundaram</td>
  <td>MBBS, Diploma in Cardiology</td>
  <td>9</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >800</td>
 </tr>
 <tr >
  <td >Dr. Sengottu Velu</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology, DM - Cardiology</td>
  <td >19</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. Elavarasi Manimegalai</td>
  <td >MBBS, DM - Cardiology, MD - General Medicine</td>
  <td >17</td>
  <td >Ilakkiya Heart Clinic</td>
  <td>Anna Nagar West</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. Nagarajan N</td>
  <td >MBBS, MS - General Surgery, MCh - Cardio Thoracic Surgery</td>
  <td >26</td>
  <td >Kumaran Hospital</td>
  <td >Kilpauk</td>
  <td >1000</td>
 </tr>
 <tr>
  <td>Dr. M Somasundaram</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >40</td>
  <td >Apollo Sugar Clinic</td>
  <td >Anna Nagar</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. R.Vimalkumar</td>
  <td>DNB - Cardiology, MD - General Medicine, DNB - General Medicine, MBBS</td>
  <td >5</td>
  <td>Cardio Diabetic and Women Clinic</td>
  <td >Anna Nagar</td>
  <td >300</td>
 </tr>
 <tr >
  <td>Dr. Musthafa Janeel</td>
  <td >MBBS, MS - General Surgery, MCh - Cardio Thoracic and Vascular Surgery</td>
  <td>3</td>
  <td >Apollo Children's Hospitals</td>
  <td >Thousand Lights</td>
  <td>500</td>
 </tr>
 <tr >
  <td >Dr. A.M. Karthigesan</td>
  <td >MBBS, MD - General Medicine, DNB - Cardiology</td>
  <td >19</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. Avinash</td>
  <td >DM - Cardiology, MBBS</td>
  <td >4</td>
  <td >RSR'S Trinity Acute Care Hospital</td>
  <td >Mylapore</td>
  <td >400</td>
 </tr>
 <tr >
  <td>Dr. Gnanasambandam S</td>
  <td >MBBS, Diploma in Child Health (DCH), MD - Pediatrics, DM - Cardiology</td>
  <td >3</td>
  <td >Apollo Children's Hospitals</td>
  <td >Thousand Lights</td>
  <td>1000</td>
 </tr>
 <tr >
  <td >Dr. Madhuprabhudoss</td>
  <td >MBBS, DM - Cardiology</td>
  <td >15</td>
  <td >Apollo OMR</td>
  <td >OMR Road</td>
  <td >500</td>
 </tr>
 <tr >
  <td>Dr. Ramakrishnan.G</td>
  <td >MBBS, DNB - Cardiology, M.Ch</td>
  <td >22</td>
  <td >Apollo OMR</td>
  <td >OMR Road</td>
  <td >700</td>
 </tr>
 <tr>
  <td>Dr. Guruprasad.S</td>
  <td >MBBS, DM - Cardiology</td>
  <td >17</td>
  <td >Apollo OMR</td>
  <td>OMR Road</td>
  <td >500</td>
 </tr>
 <tr >
  <td >Dr. Shanmugasundaram.D</td>
  <td >MBBS, DNB - Cardiology</td>
  <td >17</td>
  <td>Apollo OMR</td>
  <td >OMR Road</td>
  <td >500</td>
 </tr>
 <tr >
  <td>Dr. M.Kathiresan</td>
  <td >MBBS, DM - Cardiology, FNB</td>
  <td >15</td>
  <td >Apollo OMR</td>
  <td >OMR Road</td>
  <td >700</td>
 </tr>
 <tr >
  <td >Dr. Arul.E.D.</td>
  <td >MBBS, DNB - Cardiology</td>
  <td >12</td>
  <td>Apollo OMR</td>
  <td >OMR Road</td>
  <td >500</td>
 </tr>
 <tr>
  <td >Dr. Samuel Mathew Kalarical</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td>32</td>
  <td >Apollo Hospital</td>
  <td >Greams Road</td>
  <td >1000</td>
 </tr>
 <tr >
  <td >Dr. C.R.Srinivasan</td>
  <td>MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >14</td>
  <td >HEART &DIABETES CLINIC</td>
  <td >Triplicane</td>
  <td >200</td>
 </tr>
 <tr >
  <td >Dr. E.D Arul</td>
  <td>MBBS, MD - Cardiology, DNB - Cardiology</td>
  <td >14</td>
  <td >GM Heart Care</td>
  <td >Neelankarai</td>
  <td >250</td>
 </tr>
 <tr >
  <td >Dr. Viswanathan</td>
  <td >MBBS, MD - General Medicine, DM - Cardiology</td>
  <td >20</td>
  <td >Life Care Hospital</td>
  <td >Pudupet</td>
  <td >250</td>
 </tr>
 <tr>
  <td >Dr. Arun Kalyanasundaram</td>
  <td >MBBS, Diplomate in Cardiovascular Disease, Diplomate in Interventional Cardiology</td>
  <td >20</td>
  <td >Promed Multi Speciality & Diagnostic Centre</td>
  <td> Kottivakkam</td>
  <td> 1500</td>
 </tr>
</table>
</div>
</body>
</html>
